{
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "parser": "babel-eslint",
  "rules": {
    "no-underscore-dangle": 0,
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["to"]
      }
    ],
    "jsx-a11y/media-has-caption": 1,
    "react/jsx-filename-extension": 0,
    "react/forbid-prop-types": 0,
    "react/destructuring-assignment": 1
  },
  "env": {
    "browser": true,
    "mocha": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  }
}
